@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

/* body {
  padding-left: 10%;
} */

section {
  display: flex;
  /* padding: 1% 10%; */
  gap: 10%;
  justify-content: center;
}

h1 {
  margin-left: 17%;
  padding-top: 3%;
}

button {
  cursor: pointer;
}

.score-board {
  flex: 0.5;
}

.scoreboard-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.scoreboard-header button {
  height: 25px;
}

ul {
  list-style: none;
  padding: 1.5% 2%;
  margin: 0;
  background-color: antiquewhite;
}

form {
  display: flex;
  flex-direction: column;
  gap: 11%;
  height: 156px;
}

.list {
  border: 3px solid;
}
